<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Due date</th>
    <th>Project</th>
    <th>Zone</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <th>
      <% if task.done? %>
        [&#10003;]
      <% else %>
        <%= link_to "[ ]", complete_task_path(:id => task.id) %>
      <% end %>
    </th>

    <td><%= task.name %></td>
    <td>
      <% if task.due_date.past? %>
        <%= time_ago_in_words(task.due_date) %> ago
      <% else %>
        in <%= time_ago_in_words(task.due_date) %>
      <% end %>
    </td>
    <td><%= task.project.name if task.project %></td>
    <td><%= task.zone.name if task.zone %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Delete', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
