<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>

<% if @task.project %>
  <p>
    <b>Project:</b>
    <%= @task.project.name %>
  </p>
<% end %>

<% if @task.zone %>
  <p>
    <b>Zone:</b>
    <%= @task.zone.name %>
  </p>
<% end %>
<p>
  <b>Done:</b>
  <%= @task.done %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
